@model MVCWebForm.Models.ManageUserViewModel

<p>
    您沒有此網站的本機使用者名稱/密碼。請新增本機
    帳戶，以在不使用外部登入的情況下登入。
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <fieldset class="form-horizontal">
        <legend>建立本機登入</legend>
         <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>      
        <div class="form-actions no-color">
            <input type="submit" value="設定密碼" class="btn" />
        </div>
    </fieldset>
}
